/*
Author: Sherin Farjana Sirajudeen sait
Student number: C0931539
Date: 23-02-2024
File Name: media.css
*/

/* css Reset */
body, header, nav, main, footer, h1, div, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-color: rgb(255, 172, 28);
}

img { 
	max-width: 100%;
}

/* Style rules for navigation area */
nav {
    padding: 1%;
	margin-bottom: 1%;
	background-color: #000;
	color: rgb(255, 172, 28);
}

nav a {
    list-style-type: None;
    text-align: center;
	display: block;
	border-top: 1.5px solid rgb(255, 172, 28);
	padding: 0.5em 1em;
    text-decoration: none;
	color: rgb(255, 172, 28);
	
}

nav a:last-child {
	border-bottom:1.5px solid #000;
}

#container nav{
	text-align:center;
	padding-bottom: 2%;
}

#container nav a{
	font-family: 'Roboto Slab', serif;
	font-size: 1.35em;
	padding-left:2%;
	text-decoration:none;
}


#video, #audio {
	font-size: 0.5em;
	font-family: 'Roboto Slab', serif;
	text-align:center;
	margin-top: 1.5em;
	margin-left: 2em;
	margin-right: 2em;
}

iframe {
	width: 250px;
	height: 200px;
}

#video h1, #audio h1 {
	margin-bottom: 1.3em;
}

#audio {
	background-color: #000;
	color: #fff;
	padding: 1.3em;
}

audio {
	width: 250px;
	height: 50px;
}
	

footer{
	margin-top:3em;
	background-color: rgb(255, 208, 163);
}

footer p{
	font-family: 'Roboto Slab', serif;
    font-size: 0.95em; 
    color: #000;
	text-align: center; 
	margin:0.2%;
	padding:0.2%;
}

footer a{
    color:#00f; 
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
	header {
		margin-left:25%;
	}
	
	img {
		max-width: 100%;
	}
	
	nav {
		font-size: 0.80em;
	}
	
	/* Tablet Viewport: Style rules for nav area */
	nav a {
		border-top: none;
		display: inline-block;
		font-family: 'Francois One', sans-serif;
		font-weight:bold;
	}
	
	#container nav {
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		margin-bottom: 0;
	}
	
	nav a:last-child {
		border-right: none;
		border-bottom: none;
	}
	
	#video, #audio {
		font-size: 0.8em;
		font-family: 'Roboto Slab', serif;
		text-align:center;
		margin: 1.9em;
	}

	#video h1, #audio h1 {
		margin-bottom: 1.3em;
	}

	#audio {
		background-color: #000;
		color: #fff;
		padding: 1.5em;
		margin-left: 15em;
		margin-right: 15em;
	}
	
	iframe {
		width: 550px;
		height: 370px;
	}
}

	
/*Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {

	header {
		margin-left:35%;
		padding-bottom:0.1%;
	}

	img {
		max-width: 100%;
	}
	
	nav {
		font-size: 1.1em;
		padding:0.9%;
	}
	
	nav a {
		padding-bottom:none;
		padding: 0.3%;
		margin: 0.1%;
	}
}
