/*
Author: Sherin Farjana Sirajudeen sait
Student number: C0931539
Date: 22-03-2024
File Name: team.css
*/

/* css Reset */
body, header, nav, main, footer, h1, div, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-color: rgb(255, 172, 28);
}

img { 
	max-width: 100%;
}

/* Style rules for navigation area */
nav {
    padding: 1%;
	margin-bottom: 1%;
	background-color: #000;
	color: rgb(255, 172, 28);
}

nav a {
    list-style-type: None;
    text-align: center;
	display: block;
	border-top: 1.5px solid rgb(255, 172, 28);
	padding: 0.5em 1em;
    text-decoration: none;
	color: rgb(255, 172, 28);
	
}

nav a:last-child {
	border-bottom:1.5px solid #000;
}

#container nav{
	text-align:center;
	padding-bottom: 2%;
}

#container nav a{
	font-family: 'Roboto Slab', serif;
	font-size: 1.35em;
	padding-left:2%;
	text-decoration:none;
}

footer{
	margin-top:3em;
	background-color: rgb(255, 208, 163);
}

footer p{
	font-family: 'Roboto Slab', serif;
    font-size: 0.95em; 
    color: #000;
	text-align: center; 
	margin:0.2%;
	padding:0.2%;
}

footer a{
    color:#00f; 
}

main h1 {
	padding: 0.55em;
	text-align:center;
}

.Team, aside {
	text-align:center;
	padding:0.95em;
	margin: 1.55em;
	padding-top: 0.55em;
	padding-bottom: 0.55em;
	background-color: #000;
	color: rgb(255, 172, 28);
}

aside {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
	
figure img {
	width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 60%;
    overflow: hidden;
	margin-left: 1.3em;
}

figure figcaption {
	text-align:center;
	padding:0.55em;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
	header {
		margin-left:25%;
	}
	
	img {
		max-width: 100%;
	}
	
	nav {
		font-size: 0.80em;
	}
	
	/* Tablet Viewport: Style rules for nav area */
	nav a {
		border-top: none;
		display: inline-block;
		font-family: 'Francois One', sans-serif;
		font-weight:bold;
	}
	
	#container nav {
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		margin-bottom: 0;
	}
	
	nav a:last-child {
		border-right: none;
		border-bottom: none;
	}
	
	.grid {
		display:grid;
		grid-template-columns:auto auto;
		grid-gap: 20px;
		grid-column:1 / span2;
	}
	
	figure figcaption {
		font-size: 1.3em;
	}
	
	figure img {
		width: 270px;
		height: 270px;
		border: 2px solid black;
		border-radius: 70%;
		overflow: hidden;
		margin-left: 1.3em;
	}
	
	.third {
		padding:0;
		margin: 0;
		display:block;
		padding-left: 5.5em;
		margin-right:0em;
		margin-left: 0.1em;
	}
	
}
/*Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
	
	header {
		margin-left:35%;
		padding-bottom:0.1%;
	}

	img {
		max-width: 100%;
	}
	
	nav {
		font-size: 1.1em;
		padding:0.9%;
	}
	
	nav a {
		padding-bottom:none;
		padding: 0.3%;
		margin: 0.1%;
	}
	
	.grid {
		display:grid;
		grid-template-columns:auto auto auto;
		grid-gap: 20px;
		grid-column:1 / span3;
	}
	
	.third {
		padding-left: 2%;
		margin-right:5%;
	}
	
	figure img {
		width: 290px;
		height: 290px;
		border: 2px solid black;
		border-radius: 60%;
		overflow: hidden;
		margin-left: 1.3em;
	}

	figure figcaption {
		text-align:center;
		padding:0.55em;
	}
	
	.Team {
		margin-left: 2.5em;
		margin-right: 2.5em;
		padding-left: 0.25em;
		padding-right: 0.15em;
	}
	
	aside {
		margin-left:12.5em;
		margin-right:12.5em;
		padding-left: 0.01em;
		padding-right: 0.01em;
	}
	
}